
@charset 'utf-8';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFontFamily; line-height: $mainLineHeight; overflow: hidden; }

#app { position: relative; width: 100%; min-height: 100vh; display: flex; flex-direction: column; }

h1, h2 { font: 500 28px/1.1 $mainFontFamily; text-transform: uppercase;
  span { font-family: $accentFontFamily; }
}
h3 { font: 600 20px/1.3 $mainFontFamily; text-transform: uppercase; }
h4 { font: 600 14px/1.3 $mainFontFamily; }
h5 { font: normal 14px/1.3 $mainFontFamily; }

p { font: normal 16px/1.3 $mainFontFamily; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .4s ease-out;
  &:active, &:focus { color: $linkColor_hover; }

  svg { transition: stroke .4s ease-out; }
}

.container { position: relative; width: $mobileWidth; margin: 0 auto; padding: 2.5rem 1rem; background: transparent; display: grid; grid-gap: 0 .875rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { grid-column: 1 / 7; }

  // @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { padding: 2.5rem; grid-gap: 0 1.25rem; grid-template-columns: repeat(8, 1fr);
    .content { grid-column: 1 / 9; }
  }
  @media screen and (min-width: $laptopWidth) { padding: 4.375rem 2.5rem 9.375rem; }
  @media screen and (min-width: $desktopWidth) { grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  // @media screen and (min-width: $desktopWidth_md) {}
  // @media screen and (min-width: $desktopWidth_lg) {}
}

@media screen and (min-width: $laptopWidth) {
  body { scrollbar-width: thin; scrollbar-color: $mainColor $DarkGrey; overflow: visible; }

  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  ::-webkit-scrollbar-thumb { background: $mainColor; outline: none; }
  ::-webkit-scrollbar-corner { background: $mainColor; }
  ::-webkit-resizer { background: $DarkGrey; }

  h1, h2 { font-size: 32px; }

  a:hover { color: $linkColor_hover; }
}
@media screen and (min-width: $desktopWidth) {
  h1, h2 { font-size: 40px; }
  h3 { font-size: 24px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }

  p { font-size: 20px; }
}
@media screen and (min-width: $desktopWidth_lg) {
  h1, h2 { font-size: 60px; }
}


/* Form styles */
.form {
  &__block:not(:last-child) { margin-bottom: 2.5rem; }
  &__title { margin-bottom: 1.25rem; }
  &__text { margin-bottom: 1.25rem;
    p { color: $LightGreen; font-size: 14px; }
  }
  &__group { display: flex; flex-direction: column; }
  &__line { position: relative; }
  &__input { width: 100%; height: 50px; border-radius: 10px; padding: 0 1.25rem; background: $accentColor; color: $mainColor; font: normal 12px/1 $mainFontFamily;
    &::placeholder { color: $LightGreen; }

    &[type=search] { padding: 0 3.25rem 0 1rem; font-weight: 600; font-size: 14px;

      /* Убирает кастомный крестик в браузерах */
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration { display: none; }
    }

    // &--success { border-color: $successColor; }
    // &--error { border-color: $errorColor; }
  }
  &__icon { position: absolute; right: 16px; bottom: 15px; display: flex;
    svg { width: 20px; height: 20px; stroke: $DarkGreen; stroke-width: 1.5; flex: none; }
  }
  &__button { margin-top: .625rem; }

  @media screen and (min-width: $tabletWidth) {
    &__text { width: 500px; }
    &__group { flex-direction: row; flex-wrap: wrap; }
  }
  @media screen and (min-width: $laptopWidth) {
    &__input[type=search] { padding: 0 4.4375rem 0 1.875rem; }
    &__icon { right: 30px; bottom: 12.5px;
      svg { width: 25px; height: 25px; stroke-width: 2; }
    }
  }
  @media screen and (min-width: $desktopWidth) {
    &__input[type=search] { height: 70px; font-size: 16px; }
    &__icon { bottom: 22.5px; }
  }
}


/* Layout styles */
header { background: $DarkGrey; @include z-index('header');
  .container { height: 60px; padding: 0 1rem;
    .header { display: flex; justify-content: space-between; align-items: center;
      &__group { display: flex; align-items: center; }

      &-logo { display: flex;
        a { color: $White; display: flex; flex: none;
          img { width: 105px; height: 18px; margin-top: .125rem; }
        }
      }
      &-menu { display: none; }
      &-cart { position: relative;
        a { color: $White; display: flex; flex: none;
          &:active svg, &:focus svg { stroke: $linkColor_hover; }

          svg { width: 26px; height: 24px; stroke: $White; stroke-width: 1.5; }
          span { position: absolute; left: 12px; bottom: -4px; height: 11px; border-radius: 5.5px; padding: .0625rem .5rem 0; background: $LightGreen; color: $White; font-weight: 600; font-size: 8px; text-align: center; display: none; justify-content: center; align-items: center;
            &.show { display: flex; }
          }
        }
      }
      // &-search { display: none; }
      &-menu-bar { margin-left: 1.5rem; display: flex;
        a { color: $White; display: flex; flex: none;
          &:active svg, &:focus svg { stroke: $linkColor_hover; }

          svg { width: 35px; height: 18px; stroke: $White; stroke-width: 1.5; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 0 2.5rem;
      // .header {}
    }
    @media screen and (min-width: $laptopWidth) { height: 80px; padding: 0 2.5rem;
      .header {
        &__group:not(:first-child) { margin-left: 2.5rem; }

        &-menu { margin-left: 2.5rem; display: flex;
          ul { display: flex;
            li {
              &:not(:first-child) { margin-left: 2.5rem; }

              a { color: $White; font-weight: 500; font-size: 14px; text-transform: uppercase; white-space: nowrap;
                &:active, &:focus, &:hover { color: $linkColor_hover; }
              }
            }
          }
        }
        &-cart a {
          &:hover svg { stroke: $linkColor_hover; }

          svg { stroke-width: 2; }
        }
        // &-search { margin-left: 1.875rem; display: flex;
        //   a { color: $White; display: flex; flex: none;
        //     &:active svg, &:focus svg, &:hover svg { stroke: $linkColor_hover; }

        //     svg { width: 25px; height: 25px; stroke: $White; stroke-width: 2; }
        //   }
        // }
        &-menu-bar { display: none; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .header {
        &-menu { margin-left: 21rem;
          ul li a { font-size: 18px; }
        }
      }
    }
  }
}

main { flex-grow: 1; @include z-index('main'); }

footer { background: $DarkGrey; @include z-index('footer');
  .container { padding: 3.125rem 1rem;
    .footer { display: flex; flex-wrap: wrap;
      &__main { width: 100%; margin-bottom: 1.875rem; display: flex; flex-direction: column; }

      &-logo { margin-bottom: 1rem; display: flex;
        img { width: 105px; height: 18px; flex: none; }
      }
      &-copyright p { color: $White; font-size: 10px; text-transform: uppercase; }

      &__navigation { width: calc((100% - 1rem) / 2); display: flex; flex-direction: column; }

      &-menu { margin-bottom: 1.875rem;
        ul { display: flex; flex-direction: column;
          li { display: flex;
            &:not(:first-child) { margin-top: .5rem; }

            a { color: $White; font-weight: 500; font-size: 12px; line-height: 1.3; text-transform: uppercase;
              &:active, &:focus { color: $linkColor_hover; }
            }
          }
        }
      }
      &-terms-menu ul { display: flex; flex-direction: column;
        li { display: flex;
          &:not(:first-child) { margin-top: .5rem; }

          a { color: $LightGreen; font-weight: 500; font-size: 10px; line-height: 1.3; text-transform: uppercase;
            &:active, &:focus { color: $White; }
          }
        }
      }

      &__info { width: calc((100% - .875rem) / 2); margin-left: .875rem; display: flex; flex-direction: column; justify-content: space-between; }

      &-contacts {
        &__link { display: flex;
          &:not(:first-child) { margin-top: .5rem; }

          a { color: $White; font-weight: 500; font-size: 12px; line-height: 1.3; text-transform: uppercase;
            &:active, &:focus { color: $linkColor_hover; }
          }
        }
      }

      &__link { color: $LightGreen; font-weight: 500; font-size: 10px; line-height: 1.3; text-transform: uppercase;
        a { color: $LightGreen;
          &:active, &:focus { color: $White; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 5rem 2.5rem;
      // .footer {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 5rem 2.5rem;
      .footer { flex-wrap: nowrap;
        &__main { width: calc((100% - 1.25rem) / 2); margin-bottom: 0; justify-content: space-between; }

        &-logo { margin-bottom: 0; }
        &-copyright p { text-transform: none; }

        &__navigation { width: calc((100% - 3.75rem) / 4); margin-left: 1.25rem; }

        &-menu ul li a:hover { color: $linkColor_hover; }
        &-terms-menu ul li a:hover { color: $White; }

        &__info { width: calc((100% - 3.75rem) / 4); margin-left: 1.25rem; }

        &-contacts {
          &__link a:hover { color: $linkColor_hover; }
        }

        &__link a:hover { color: $White; }
      }
    }
    @media screen and (min-width: $desktopWidth) { min-height: 312px;
      .footer {
        &__main { width: calc((100% - 3.75rem) / 4); }

        &-copyright p { font-size: 16px; }

        &__navigation { width: calc((100% - 1.25rem) / 2); flex-direction: row; }

        &-menu { width: calc((100% - 1.25rem) / 2); margin-bottom: 0;
          ul li {
            &:not(:first-child) { margin-top: .75rem; }

            a { font-weight: normal; font-size: 16px; }
          }
        }
        &-terms-menu { width: calc((100% - 1.25rem) / 2); margin-left: 1.25rem;
          ul li {
            &:not(:first-child) { margin-top: .75rem; }

            a { color: $White; font-weight: normal; font-size: 16px;
              &:active, &:focus, &:hover { color: $linkColor_hover; }
            }
          }
        }
        &-contacts {
          &__link {
            &:not(:first-child) { margin-top: .75rem; }

            a { font-weight: normal; font-size: 16px; }
          }
        }

        &__link { color: $White; font-weight: normal; font-size: 16px;
          a { color: $White;
            &:active, &:focus, &:hover { color: $linkColor_hover; }
          }
        }
      }
    }
  }
}


/* Module styles */
@import 'module/select';
@import 'module/checkbox';
@import 'module/radio';
@import 'module/button';
@import 'module/product-card';
@import 'module/breadcrumbs';
@import 'module/order-info';
@import 'module/menu';
@import 'module/filter';
@import 'module/popup';


/* Page styles */
@import 'page/index';
@import 'page/catalog';
@import 'page/product';
@import 'page/cart';
@import 'page/wishlist';
@import 'page/order';
@import 'page/success';
@import 'page/info';
@import 'page/faq';
@import 'page/terms';
@import 'page/certificates';
