extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'cart'

block content
  section#cart
    .container
      .cart.content
        .cart__title
          h1 Корзина
          span  / 
          a(href='/wishlist.html' title='Вишлист') Вишлист
        .cart__main
          .cart__group
            .cart__text
              p Ваша корзина пуста.
            .cart__button
              .button.button--accent
                a(href='/catalog.html' title='Перейти в каталог') Перейти в каталог
          .order-info
            .order-info__group
              .order-info__title
                h3 Ваш заказ
              ul.order-info-list
                li.order-info-list__item
                  .order-info-list__title Сумма заказа
                  .order-info-list__value 0 сум
                li.order-info-list__item
                  .order-info-list__title Доставка
                  .order-info-list__value не выбрано
                li.order-info-list__item
                  .order-info-list__title Скидка
                  .order-info-list__value –0 сум
                li.order-info-list__item
                  .order-info-list__title Итого
                  .order-info-list__value 0 сум
            .order-info__button
              .button.button--accent
                a(href='/order.html' title='Перейти к оформлению') Перейти к оформлению
            .order-info__text
              p Вариант доставки можно будет выбрать при&nbsp;оформлении заказа.
