extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'cart'

block content
  section#cart
    .container
      .cart.content
        .cart__title
          h1 Корзина
          span  / 
          a(href='/wishlist.html' title='Вишлист') Вишлист
        .cart__main
          .cart__group
            ul.cart-list
              - for (let i = 1; i <= 3; i++)
                li.cart-list__item
                  .cart-list__image
                    a(href='/product.html' title='SATISFYER 2 next gen')
                      img(src='/image/product/1.png' srcset='/image/product/1@2x.png 2x' loading='lazy' alt='SATISFYER 2 next gen')
                  .cart-list__main
                    .cart-list__group
                      .cart-list__title
                        a(href='/product.html' title='SATISFYER 2 next gen')
                          h4 SATISFYER 2 next gen
                      .cart-list__category
                        a(href='#' title='Стимулятор вакуумный') Стимулятор вакуумный
                    .cart-list__price 1 864 сум
                    .cart-list-counter
                      a(href='#' data-action='minus-product' title='Убавить')
                        svg
                          use(href='/image/icon/minus.svg#minus')
                      span 1
                      a(href='#' data-action='plus-product' title='Добавить')
                        svg
                          use(href='/image/icon/plus.svg#plus')
                  .cart-list__link
                    a(href='#' data-action='remove-cart' data-product-id='1' title='Удалить из корзины')
                      svg
                        use(href='/image/icon/close.svg#close')
            .cart__subtitle
              h2 Некоторых товаров из&nbsp;вашей корзины сейчас нет в наличии
            ul.cart-none-list
              - for (let i = 1; i <= 2; i++)
                li.cart-none-list__item
                  .cart-none-list__image
                    a(href='/product.html' title='SATISFYER 2 next gen')
                      img(src='/image/product/2.png' srcset='/image/product/2@2x.png 2x' loading='lazy' alt='SATISFYER 2 next gen')
                  .cart-none-list__main
                    .cart-none-list__group
                      .cart-none-list__title
                        a(href='/product.html' title='SATISFYER 2 next gen')
                          h4 SATISFYER 2 next gen
                      .cart-none-list__category
                        a(href='#' title='Стимулятор вакуумный') Стимулятор вакуумный
                    .cart-none-list__button
                      .button.button--min.button--border
                        a(href='#' data-action='open-popup' data-popup='notify' title='Уведомить о наличии') Уведомить о наличии
                  .cart-none-list__link
                    a(href='#' data-action='remove-cart' data-product-id='1' title='Удалить из корзины')
                      svg
                        use(href='/image/icon/close.svg#close')
          .order-info
            .order-info__group
              .order-info__title
                h3 Ваш заказ
              ul.order-info-list
                li.order-info-list__item
                  .order-info-list__title Сумма заказа
                  .order-info-list__value 0 сум
                li.order-info-list__item
                  .order-info-list__title Доставка
                  .order-info-list__value не выбрано
                li.order-info-list__item
                  .order-info-list__title Скидка
                  .order-info-list__value –0 сум
                li.order-info-list__item
                  .order-info-list__title Итого
                  .order-info-list__value 0 сум
            .order-info__button
              .button.button--accent
                a(href='/order.html' title='Перейти к оформлению') Перейти к оформлению
            .order-info__text
              p Вариант доставки можно будет выбрать при&nbsp;оформлении заказа.
