extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'catalog'
  -
    let products = [
      { id: 1, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 2, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 3, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 4, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 5, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 6, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 7, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 8, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' }
    ]

block content
  section#catalog
    .container
      .catalog.content
        .catalog__title
          h1 Каталог
        .catalog-filter
          .catalog-filter-menu-bar
            a(href='#' data-action='open-filter' title='Показать фильтр')
              svg
                use(href='/image/icon/filter.svg#filter')
          ul.catalog-filter-menu
            li.catalog-filter-menu__item
              .select.catalog-filter-menu__select
                .select-block
                  a(href='#' data-action='toggle-select' title='Категория')
                    span Категория
                    svg
                      use(href='/image/icon/vector.svg#vector')
                ul.select-options
                  li.select-options__item(data-value='Вибраторы')
                    .checkbox.select-options__checkbox
                      .checkbox__check(data-action='check')
                      .checkbox__group(data-action='toggle-box')
                        .checkbox__title Вибраторы
                        .checkbox__icon
                          svg
                            use(href='/image/icon/vector.svg#vector')
                    ul.select-options__inner
                      li.select-options__item(data-value='Менструальные чаши')
                        .checkbox.select-options__checkbox
                          .checkbox__check(data-action='check')
                          .checkbox__title Менструальные чаши
                      li.select-options__item(data-value='Тампоны')
                        .checkbox.select-options__checkbox
                          .checkbox__check(data-action='check')
                          .checkbox__title Тампоны
            li.catalog-filter-menu__item
              .select.catalog-filter-menu__link
                a(href='#' data-action='clear-filter' title='Очистить все фильтры') Очистить все фильтры
          .catalog-sort
            .select.catalog-sort__select
              .select-block
                a(href='#' data-action='toggle-select' title='Сортировать')
                  span Сортировать
                  svg
                    use(href='/image/icon/vector.svg#vector')
              ul.select-options.select-options--right
                li.select-options__item.current(data-value='price-up')
                  a(href='#' data-action='toggle-select' title='сначала недорогие') сначала недорогие
                li.select-options__item(data-value='price-down')
                  a(href='#' data-action='toggle-select' title='сначала дорогие') сначала дорогие
                li.select-options__item(data-value='top')
                  a(href='#' data-action='toggle-select' title='сначала популярные') сначала популярные
        form.form.catalog-search-form(name='catalog-search' autocomplete='off')
          fieldset.form__line
            input.form__input(type='search' name='search' required placeholder='Я ищу...' value='' title='Поиск')
            .form__icon
              svg
                use(href='/image/icon/search.svg#search')
        .catalog-list
          - for (let i = 1; i <= 2; i++)
            each product in products
              .product-card.catalog-list__item
                .product-card__image
                  a(href='/product.html' title=product.title)
                    img(src='/image/product/' + product.id + '.png' srcset='/image/product/' + product.id + '@2x.png 2x' loading='lazy' alt=product.title)
                .product-card__category
                  a(href='#' title=product.category) #{ product.category }
                .product-card__group
                  .product-card__title
                    a(href='/product.html' title=product.title)
                      h4 #{ product.title }
                  .product-card__price #{ product.price } сум
        .catalog__button
          .button.button--dark
            a(href='#' title='Показать ещё') Показать ещё
