extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'certificates'

block content
  section#certificates
    .container
      .certificates.content
        .certificates__title
          h1 Сертификаты
        ul.certificates-list
          - for (let i = 1; i <= 4; i++)
            li.certificates-list__item
              .certificates-list__image
                img(src='/image/certificates/1.jpg' srcset='/image/illustration/certificates/1@2x.jpg 2x' loading='eager' alt='Сертификат')
              .certificates-list__title
                h4 Название сертификата
