extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'faq'

block content
  section#faq
    .container
      .faq.content
        .faq__title
          h1 FAQ
        .faq__main
          .faq__block
            .faq__subtitle
              h3 Лубриканты
            ul.faq-list
              - for (let i = 1; i <= 4; i++)
                li.faq-list__item
                  .faq-list__question(area-expanded=(i == 1 ? 'true' : 'false'))
                    .faq-list__title
                      h5 Что входит в состав лубрикантов?
                    .faq-list__icon
                      svg
                        use(href=(i == 1 ? '/image/icon/close.svg#close' : '/image/icon/plus.svg#plus'))
                  .faq-list__answer
                    .faq-list__text
                      p Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.
          .faq__block
            .faq__subtitle
              h3 Презервативы
            ul.faq-list
              - for (let i = 1; i <= 4; i++)
                li.faq-list__item
                  .faq-list__question(area-expanded='false')
                    .faq-list__title
                      h5 Что входит в состав лубрикантов?
                    .faq-list__icon
                      svg
                        use(href='/image/icon/plus.svg#plus')
                  .faq-list__answer
                    .faq-list__text
                      p Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.
          .faq__block
            .faq__subtitle
              h3 Вибраторы
            ul.faq-list
              - for (let i = 1; i <= 4; i++)
                li.faq-list__item
                  .faq-list__question(area-expanded='false')
                    .faq-list__title
                      h5 Что входит в состав лубрикантов?
                    .faq-list__icon
                      svg
                        use(href='/image/icon/plus.svg#plus')
                  .faq-list__answer
                    .faq-list__text
                      p Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.
