extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'index'
  -
    let products = [
      { id: 1, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 2, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 3, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 4, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 5, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 6, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 7, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 8, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' }
    ]

block content
  section#index
    .container
      .index.content
        .index__image
          picture
            source(srcset='/image/illustration/main.jpg, /image/illustration/main@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
            img(src='/image/illustration/main.m.jpg' srcset='/image/illustration/main.m@2x.jpg 2x' loading='eager' alt='illustration')
        .index__main
          .index__title
            h1
              | Искренний магазин и&nbsp;блог&nbsp;про 
              span sexual&nbsp;wellness
          .index__button
            .button.button--main
              a(href='/catalog.html' title='Перейти в каталог') Перейти в каталог
  section#about
    .container
      .about.content
        .about__title
          h2 Наедине — проводник в мир чувственных моментов с&nbsp;собой и&nbsp;с&nbsp;партнером
        .about__text
          p Наша цель — разрушить стереотипы и&nbsp;без&nbsp;всякого стеснения рассказать нашим покупателям о любви к&nbsp;себе и&nbsp;своему телу
        ul.about-list
          - for (let i = 1; i <= 6; i++)
            li.about-list__image
              img(src='/image/illustration/about/' + i + '.jpg' srcset='/image/illustration/about/' + i + '@2x.jpg 2x' loading='eager' alt='illustration')
  section#new
    .container
      .new.content
        .new__title
          h2 Новинки
        .new-list
          each product in products
            .product-card.new-list__item
              .product-card__image
                a(href='/product.html' title=product.title)
                  img(src='/image/product/' + product.id + '.png' srcset='/image/product/' + product.id + '@2x.png 2x' loading='lazy' alt=product.title)
              .product-card__category
                a(href='#' title=product.category) #{ product.category }
              .product-card__group
                .product-card__title
                  a(href='/product.html' title=product.title)
                    h4 #{ product.title }
                .product-card__price #{ product.price } сум
  #discount
    .container
      .discount.content
        .discount__image.discount__image--left
          img(src='/image/illustration/discount.jpg' srcset='/image/illustration/discount@2x.jpg 2x' loading='lazy' alt='illustration')
        .discount__main
          .discount__image
            img(src='/image/illustration/discount-2.jpg' srcset='/image/illustration/discount-2@2x.jpg 2x' loading='lazy' alt='illustration')
          .discount__title
            span скидка 15%
            |  на первый заказ
  section#top
    .container
      .top.content
        .top__title
          h2 Популярные товары
        .top-list
          each product in products
            - if (product.id <= 4)
              .product-card.top-list__item
                .product-card__image
                  a(href='/product-none.html' title=product.title)
                    img(src='/image/product/' + product.id + '.png' srcset='/image/product/' + product.id + '@2x.png 2x' loading='lazy' alt=product.title)
                .product-card__category
                  a(href='#' title=product.category) #{ product.category }
                .product-card__group
                  .product-card__title
                    a(href='/product-none.html' title=product.title)
                      h4 #{ product.title }
                  .product-card__price #{ product.price } сум
  #accent
    .container
      .accent.content
        .accent-info
          .accent-info__image
            img(src='/image/illustration/accent.jpg' srcset='/image/illustration/accent@2x.jpg 2x' loading='lazy' alt='illustration')
          .accent-info__title
            span SATISFYER pro
            |  g-spot rabbit
          .accent-info__price 24 837 сум
        ul.accent-tags
          li.accent-tags__item
            a(href='#' title='Стимуляторы клитора и точки g') Стимуляторы клитора и точки g
          li.accent-tags__item
            a(href='#' title='Для женщин') Для женщин
          li.accent-tags__item
            a(href='#' title='Силикон') Силикон
        .accent__product
          .accent__image
            img(src='/image/product/8.png' srcset='/image/product/8@2x.png 2x' loading='lazy' alt='SATISFYER pro g-spot rabbit')
          .accent__button
            .button
              a(href='/product.html' title='Подробнее о товаре') Подробнее о товаре
  #message
    .container
      .message.content
        .message__image
          picture
            source(srcset='/image/illustration/message.jpg, /image/illustration/message@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
            img(src='/image/illustration/message.m.jpg' srcset='/image/illustration/message.m@2x.jpg 2x' loading='lazy' alt='illustration')
        .message__main
          .message__title Мы считаем, что чем лучше человек понимает свое тело, тем меньше у него поводов для стеснения и тем больше любви, нежности к себе
          .message__text
            p Никаких компромиссов, только лучшие товары мировых брендов в&nbsp;совокупности с отличным сервисом и полным сопровождением от&nbsp;момента выбора и до получения своих покупок
  section#articles
    .container
      .articles.content
        .articles__title
          h2
            | Читайте статьи про&nbsp;
            span sexual wellness
            |  в&nbsp;нашем блоге
        ul.articles-list
          li.articles-list__item
            a(href='#' target='_blank' title='Гид по яйцам-мастурбаторам')
              .articles-list__image
                img(src='/image/illustration/articles/1.jpg' srcset='/image/illustration/articles/1@2x.jpg 2x' loading='lazy' alt='Гид по яйцам-мастурбаторам')
              .articles-list__title Гид по яйцам-мастурбаторам
          li.articles-list__item
            a(href='#' target='_blank' title='Чувственность и сексуальность: в чём разница?')
              .articles-list__image
                img(src='/image/illustration/articles/2.jpg' srcset='/image/illustration/articles/2@2x.jpg 2x' loading='lazy' alt='Чувственность и сексуальность: в чём разница?')
              .articles-list__title.articles-list__title--center Чувственность и&nbsp;сексуальность: в&nbsp;чём разница?
          li.articles-list__item
            a(href='#' target='_blank' title='Как самооценка влияет на секс')
              .articles-list__image
                img(src='/image/illustration/articles/3.jpg' srcset='/image/illustration/articles/3@2x.jpg 2x' loading='lazy' alt='Как самооценка влияет на секс')
              .articles-list__title.articles-list__title--center Как самооценка влияет на секс
          li.articles-list__item
            a(href='#' target='_blank' title='Топ-5 игрушек для пар')
              .articles-list__image
                img(src='/image/illustration/articles/4.jpg' srcset='/image/illustration/articles/4@2x.jpg 2x' loading='lazy' alt='Топ-5 игрушек для пар')
              .articles-list__title Топ-5 игрушек для&nbsp;пар
        .articles__button
          .button
            a(href='//instagram.com/naedine' target='_blank' title='Подписаться на блог') Подписаться на блог
