extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'info'

block content
  section#info
    .container
      .info.content
        .info__title
          h1 Доставка и оплата
        .info-banner
          .info-banner__title Анонимная доставка
          .info-banner__text
            p Ваш товар будет упакован в&nbsp;непрозрачную упаковку без&nbsp;товарных знаков. Никто, кроме вас, не будет знать, что в коробке🤫.
        .info__main
          .info__block
            .info__subtitle
              h3 Доставка
            ul.info-list
              li.info-list__item
                .info-list__group
                  .info-list__title Курьером по Ташкенту полностью анонимно
                  .info-list__text
                    p При оформлении заказа укажите удобный вам адрес получения и получите ПИН-код, который при встрече нужно будет назвать курьеру.
                .info-list__price 30 000 сум
              li.info-list__item
                .info-list__group
                  .info-list__title Курьером бесконтактно
                  .info-list__text
                    p Укажите адрес, куда доставить и курьер оставит ваш заказ под дверью или в удобном вам месте без личной встречи. Данный вид доставки доступен только при оплате на карту.
                .info-list__price 30 000 сум
              li.info-list__item
                .info-list__group
                  .info-list__title Самовывоз
                  .info-list__text
                    p При оформлении доставки таким способом вы увидите адрес, откуда будет осуществляться самовывоз и ваш личный ПИН-код, с помощью которого вы сможете забрать заказ.
                .info-list__price Бесплатно
            .info__text
              p Сроки доставки указаны на странице «Корзина» при оформлении заказа. Пожалуйста, обратите внимание, что они являются ориентировочными и могут быть как увеличены, так и уменьшены.
          .info__block
            .info__subtitle
              h3 Оплата
            ul.info-list
              li.info-list__item
                .info-list__group
                  .info-list__title Наличными курьеру
                  .info-list__text
                    p Оплата курьеру при получении.
              li.info-list__item
                .info-list__group
                  .info-list__title Перечислением на карту
                  .info-list__text
                    p Скоро добавим этот вариант оплаты.
