extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'order'

block content
  section#order
    .container
      .order.content
        .order__title
          h1 Оформление заказа
        .order__main
          form.form.order-form(name='order' autocomplete='off')
            .form__block
              .form__title
                h3 Ваши данные
              .form__group
                fieldset.form__line
                  input.form__input(type='text' name='name' required placeholder='Имя*' value='' title='Ваше имя')
                fieldset.form__line
                  input.form__input(type='email' name='email' required placeholder='Email*' value='' title='Ваш email')
                fieldset.form__line
                  input.form__input(type='tel' name='phone' required placeholder='Телефон*' value='' title='Ваш номер телефона')
                fieldset.form__line
                  input.form__input(type='text' name='address' required placeholder='Адрес*' value='' title='Ваш адрес')
                fieldset.form__line
                  input.form__input(type='text' name='datetime' required placeholder='Дата и время доставки*' value='' title='Дата и время доставки')
                fieldset.form__line
                  input.form__input(type='text' name='comment' placeholder='Комментарий' value='' title='Комментарий')
            .form__block
              .form__title
                h3 Способ доставки
              .form__text
                p Анонимная доставка: ваш товар будет упакован в непрозрачную упаковку без товарных знаков. Никто, кроме вас, не будет знать, что в коробке 🤫.
              .form__group
                fieldset.form__radio
                  label.radio.checked
                    input.radio__input(type='radio' name='delivery-1' value='Курьером по Ташкенту полностью анонимно' checked)
                    .radio__title Курьером по Ташкенту полностью анонимно
                    .radio__text
                      p При оформлении заказа укажите удобный вам адрес получения и получите ПИН-код, который при встрече нужно будет назвать курьеру.
                    .radio__price 30 000 сум
                    .radio__desc
                      | Приблизительная дата доставки — 
                      span 10 марта 2023
                fieldset.form__radio
                  label.radio
                    input.radio__input(type='radio' name='delivery-2' value='Курьером бесконтактно')
                    .radio__title Курьером бесконтактно
                    .radio__text
                      p Укажите адрес, куда доставить и курьер оставит ваш заказ под дверью или в удобном вам месте без личной встречи. Данный вид доставки доступен только с оплатой на карту.
                    .radio__price 30 000 сум
                    .radio__desc
                      | Приблизительная дата доставки — 
                      span 10 марта 2023
                fieldset.form__radio
                  label.radio
                    input.radio__input(type='radio' name='delivery-3' value='Самовывоз')
                    .radio__title Самовывоз
                    .radio__text
                      p При оформлении доставки таким способом вы увидите адрес, откуда будет осуществляться самовывоз и ваш личный ПИН-код, с помощью которого вы сможете забрать заказ.
                    .radio__price Бесплатно
                    .radio__desc
                      | Приблизительная дата доставки — 
                      span 10 марта 2023
            .form__block
              .form__title
                h3 Способ оплаты
              .form__group
                fieldset.form__radio
                  label.radio.checked
                    input.radio__input(type='radio' name='payment-1' value='Наличными курьеру' checked)
                    .radio__title Наличными курьеру
                    .radio__text
                      p Оплата курьеру при получении.
                fieldset.form__radio
                  label.radio.disabled
                    input.radio__input(type='radio' name='payment-2' value='Перевод на карту' disabled)
                    .radio__title Перевод на карту
                    .radio__text
                      p Скоро добавим этот способ.
          .order-info
            .order-info__group
              .order-info__title
                h3 Ваш заказ
              ul.order-info-list
                li.order-info-list__item
                  .order-info-list__title Сумма заказа
                  .order-info-list__value 0 сум
                li.order-info-list__item
                  .order-info-list__title Доставка
                  .order-info-list__value не выбрано
                li.order-info-list__item
                  .order-info-list__title Скидка
                  .order-info-list__value –0 сум
                li.order-info-list__item
                  .order-info-list__title Итого
                  .order-info-list__value 0 сум
            .order-info__button
              .button.button--accent
                a(href='#' data-action='send-form' title='Оформить заказ') Оформить заказ
