extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'product'
  -
    let products = [
      { id: 1, category: 'Стимулятор вакуумный', title: 'SATISFYER 2 next gen', price: '1 864' },
      { id: 2, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' },
      { id: 3, category: 'Стимулятор яйцо', title: 'TENGA № 8 crater', price: '552' },
      { id: 4, category: 'Клиторальный стимулятор', title: 'WOMANIZER premium 2 pink', price: '24 837' }
    ]

block content
  section#product
    .container
      nav.breadcrumbs.content
        ul
          li
            a(href='/catalog.html' title='Каталог') Каталог
          li /
          li
            a(href='#' title='Вибраторы') Вибраторы
          li /
          li SATISFYER pro penguin next gen
      .product.content
        .product__slider
          .product-gallery.swiper
            .product-gallery__wrapper.swiper-wrapper
              - for (let i = 1; i <= 3; i++)
                .product-gallery__image.swiper-slide
                  img(src='/image/product/' + i + '.png' srcset='/image/product/' + i + '@2x.png 2x' loading='eager' alt='SATISFYER pro penguin next gen')
          .product-thumbs.swiper(thumbsSlider='')
            .product-thumbs__wrapper.swiper-wrapper
              - for (let i = 1; i <= 3; i++)
                .product-thumbs__image.swiper-slide
                  img(src='/image/product/' + i + '.png' srcset='/image/product/' + i + '@2x.png 2x' loading='eager' alt='SATISFYER pro penguin next gen')
        .product__main
          .product__group
            .product__title
              h1 SATISFYER pro penguin next gen
            .product__category
              a(href='#' title='Стимуляторы клитора и точки g') Стимуляторы клитора и точки g
            .product__price 450 000 сум
          .product-control
            .product-control__warning Нет в наличии
            .product-control__button
              .button.button--accent
                a(href='#' data-action='open-popup' data-popup='notify' title='Уведомить о наличии') Уведомить о наличии
          .product__text
            p Немецкий бренд Satisfyer заботится о каждой своей клиентке, даря невероятные оргазмы в любое время дня и ночи. Легендарный стимулятор «Пингвин Про» завоевал миллионы женских сердец по всему миру, благодаря уникальной технологии вакуумно-волновой стимуляции клитора. Мягкая силиконовая насадка аккуратно всасывает клитор, максимально реалистично имитируя нежнейшие оральные ласки. При этом игрушка исключает дискомфорт и риск травмирования нежных чувствительных тканей интимных зон. Мощный тихий моторчик девайса всего за несколько минут доведет до оргазма даже самую искушенную представительницу прекрасного пола.
          ul.product-tags
            li.product-tags__item
              a(href='#' title='Стимуляторы клитора и точки g') Стимуляторы клитора и точки g
            li.product-tags__item
              a(href='#' title='Для женщин') Для женщин
            li.product-tags__item
              a(href='#' title='Силикон') Силикон
          ul.product-list
            li.product-list__item
              .product-list__parameter(area-expanded='true')
                .product-list__title
                  h5 Характеристики
                .product-list__icon
                  svg
                    use(href='/image/icon/close.svg#close')
              .product-list__info
                .product-list__text
                  p Материал: безопасный для тела силикон, ABS-пластик
                  p Количество режимов вибрации: 11
                  p Длина корпуса: 12,5 см
                  p Диаметр корпуса: 1,4-2,2 см
                  p Цвет: черный
                  p Комплектация: 1 вибратор, 1 магнитное зарядное USB-устройство, 1 инструкция
                  p Степень защиты IPX7 означает, что прибор полностью защищён от подпадания пыли и может быть погружён в воду на некоторое время (условно, на глубину до 1 метра, на 30 минут). Таким образом, девайс рекомендуется очищать (мыть) под водой, при этом данная степень защиты не предполагает корректную работу игрушки под водой
                  p Страна бренда: Германия
            li.product-list__item
              .product-list__parameter(area-expanded='false')
                .product-list__title
                  h5 Состав
                .product-list__icon
                  svg
                    use(href='/image/icon/plus.svg#plus')
              .product-list__info
                .product-list__text
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In iusto porro corporis omnis consequatur asperiores? Dolore, sequi. Autem accusantium enim consequuntur nihil reprehenderit assumenda, odio ad, aspernatur fuga officiis ipsum.
            li.product-list__item
              .product-list__parameter(area-expanded='false')
                .product-list__title
                  h5 Доставка и оплата
                .product-list__icon
                  svg
                    use(href='/image/icon/plus.svg#plus')
              .product-list__info
                .product-list__text
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In iusto porro corporis omnis consequatur asperiores? Dolore, sequi. Autem accusantium enim consequuntur nihil reprehenderit assumenda, odio ad, aspernatur fuga officiis ipsum.
  section#other
    .container
      .other.content
        .other__title
          h2 С этим товаром покупают:
        .other-list
          each product in products
            .product-card.other-list__item
              .product-card__image
                a(href='/product.html' title=product.title)
                  img(src='/image/product/' + product.id + '.png' srcset='/image/product/' + product.id + '@2x.png 2x' loading='lazy' alt=product.title)
              .product-card__category
                a(href='#' title=product.category) #{ product.category }
              .product-card__group
                .product-card__title
                  a(href='/product.html' title=product.title)
                    h4 #{ product.title }
                .product-card__price #{ product.price } сум
