extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'success'

block content
  section#success
    .container
      .success.content
        .success__title
          h1 Спасибо! Ваш заказ оформлен!
        .success__text
          p Номер вашего заказа: 203883.
          p Информация о заказе отправлена на email, который вы указали при оформлении.
        .success__image
          picture
            source(srcset='/image/illustration/success.jpg, /image/illustration/success@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
            img(src='/image/illustration/success.m.jpg' srcset='/image/illustration/success.m@2x.jpg 2x' loading='eager' alt='illustration')
