extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'terms'

block content
  section#terms
    .container
      .terms.content
        .terms__title
          h1 Соглашение на обработку данных
        .terms__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, iusto beatae tempore eius recusandae laudantium doloribus, perspiciatis aliquam facere, debitis at atque odio placeat aperiam rem magnam dicta quis dolor. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis molestias modi eos consectetur ut alias exercitationem asperiores doloribus, quam minus eius, culpa ea, voluptas quas iusto. Libero beatae modi sed.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, iusto beatae tempore eius recusandae laudantium doloribus, perspiciatis aliquam facere, debitis at atque odio placeat aperiam rem magnam dicta quis dolor. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis molestias modi eos consectetur ut alias exercitationem asperiores doloribus, quam minus eius, culpa ea, voluptas quas iusto. Libero beatae modi sed.
