extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'wishlist'

block content
  section#wishlist
    .container
      .wishlist.content
        .wishlist__title
          a(href='/cart.html' title='Корзина') Корзина
          span  / 
          h1 Вишлист
        .wishlist__main
          .wishlist__group
            .wishlist__text
              p В вашем вишлисте нет товаров.
            .wishlist__button
              .button.button--accent
                a(href='/catalog.html' title='Перейти в каталог') Перейти в каталог
