extends include/main

block variables
  - let title = 'Наедине'
  - let description = ''
  - let page = 'wishlist'

block content
  section#wishlist
    .container
      .wishlist.content
        .wishlist__title
          a(href='/cart.html' title='Корзина') Корзина
          span  / 
          h1 Вишлист
        .wishlist__main
          .wishlist__group
            ul.wishlist-list
              - for (let i = 1; i <= 3; i++)
                li.wishlist-list__item
                  .wishlist-list__image
                    a(href='/product.html' title='SATISFYER 2 next gen')
                      img(src='/image/product/3.png' srcset='/image/product/3@2x.png 2x' loading='lazy' alt='SATISFYER 2 next gen')
                  .wishlist-list__main
                    .wishlist-list__group
                      .wishlist-list__title
                        a(href='/product.html' title='SATISFYER 2 next gen')
                          h4 SATISFYER 2 next gen
                      .wishlist-list__category
                        a(href='#' title='Стимулятор вакуумный') Стимулятор вакуумный
                    .wishlist-list__price 1 864 сум
                    .wishlist-list__button
                      .button.button--link
                        a(href='#' data-action='add-cart' data-product-id='1' title='Добавить в корзину') Добавить в корзину
                  .wishlist-list__link
                    a(href='#' data-action='remove-wishlist' data-product-id='1' title='Удалить из вишлиста')
                      svg
                        use(href='/image/icon/close.svg#close')
            .wishlist__subtitle
              h2 Некоторых товаров из&nbsp;вашего вишлиста сейчас нет в наличии
            ul.wishlist-none-list
              - for (let i = 1; i <= 2; i++)
                li.wishlist-none-list__item
                  .wishlist-none-list__image
                    a(href='/product.html' title='SATISFYER 2 next gen')
                      img(src='/image/product/4.png' srcset='/image/product/4@2x.png 2x' loading='lazy' alt='SATISFYER 2 next gen')
                  .wishlist-none-list__main
                    .wishlist-none-list__group
                      .wishlist-none-list__title
                        a(href='/product.html' title='SATISFYER 2 next gen')
                          h4 SATISFYER 2 next gen
                      .wishlist-none-list__category
                        a(href='#' title='Стимулятор вакуумный') Стимулятор вакуумный
                    .wishlist-none-list__button
                      .button.button--min.button--border
                        a(href='#' data-action='open-popup' data-popup='notify' title='Уведомить о наличии') Уведомить о наличии
                  .wishlist-none-list__link
                    a(href='#' data-action='remove-wishlist' title='Удалить из вишлиста')
                      svg
                        use(href='/image/icon/close.svg#close')
