
/* Manrope */
@font-face {
  font-family: 'Manrope';
  src: url('../font/Manrope/Manrope-VariableFont_wght.woff2') format('woff2 support variations'),
    url('../font/Manrope/Manrope-VariableFont_wght.woff2') format('woff2-variations'),
    url('../font/Manrope/Manrope-VariableFont_wght.ttf') format('truetype support variations'),
    url('../font/Manrope/Manrope-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 200 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}


/* Playfair Display */
@font-face {
  font-family: 'Playfair Display';
  src: url('../font/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.woff2') format('woff2 support variations'),
    url('../font/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.woff2') format('woff2-variations'),
    url('../font/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf') format('truetype support variations'),
    url('../font/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 400 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../font/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.woff2') format('woff2 support variations'),
    url('../font/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.woff2') format('woff2-variations'),
    url('../font/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype support variations'),
    url('../font/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 400 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
