
/* Brand colors */
$Black                     : #000000;
$DarkGrey                  : #303421;
$LightGrey                 : #f7f6f2;
$White                     : #ffffff;

$DarkGreen                 : #424a25;
$LightGreen                : #8d9180;
$Beige                     : #d1cfc2;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'Manrope', Arial, sans-serif;
$accentFontFamily          : 'Playfair Display', serif;
$mainLineHeight            : 1.5;

/* Breakpoints */
$mobileWidth               : 100%;
$tabletWidth               : 768px;
$laptopWidth               : 1024px;
$desktopWidth              : 1280px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$mainColor                 : $DarkGreen;
$mainBackground            : $LightGrey;
$linkColor                 : $DarkGreen;
$linkColor_hover           : $LightGreen;

$successColor              : $DarkGreen;
$errorColor                : $LightGreen;

/* Shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba($DarkGrey, .66);

$accentColor               : #f1f0ea;
$overlayBackground         : rgba($Black, .77);
