
.breadcrumbs { margin-bottom: 1.875rem;
  ul { display: flex; flex-wrap: wrap; align-items: center;
    li { color: $LightGreen; font-size: 14px; line-height: 1.3;
      &:not(:last-child) { margin-right: .25rem; }

      a { color: $LightGreen;
        &:active, &:focus { color: $DarkGreen; }
      }
    }
  }

  @media screen and (min-width: $laptopWidth) {
    ul li a:hover { color: $DarkGreen; }
  }
  @media screen and (min-width: $desktopWidth) {
    ul li { font-size: 16px; }
  }
}
