
.button {
  a { width: 100%; height: 60px; border: 1px solid $accentColor; border-radius: 10px; padding: 0 2.5rem; background: $accentColor; color: $linkColor; font: 600 14px/1 $mainFontFamily; text-align: center; text-transform: uppercase; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:active, &:focus { border-color: $linkColor_hover; background: $linkColor_hover; color: $White; }
  }

  &--min a { height: 50px; font-size: 12px; }
  &--link a { width: auto; height: auto; border: none; padding: 0; background: transparent; color: $LightGreen; font-size: 16px; text-transform: none;
    &:active, &:focus { background: transparent; color: $DarkGreen; }
  }

  &--main a { border-color: $LightGrey; background: $LightGrey; }
  &--dark a { border-color: $DarkGrey; background: $DarkGrey; color: $White; }
  &--accent a { border-color: $DarkGrey; background: $DarkGrey; color: $White; text-transform: none; }
  &--border a { border-color: $DarkGrey; background: transparent; color: $DarkGrey; text-transform: none; }
  &--light a { border-color: $LightGreen; background: transparent; color: $LightGreen; text-transform: none; }

  @media screen and (min-width: $tabletWidth) {
    a { width: 320px; }

    &--min a { width: auto; padding: 0 2.125rem; }
    &--link a { width: auto; height: 50px; border: 1px solid $DarkGrey; padding: 0 2.125rem; background: $DarkGrey; color: $White; font-size: 12px;
      &:active, &:focus { background: $linkColor_hover; color: $White; }
    }
  }
  @media screen and (min-width: $laptopWidth) {
    a:hover { border-color: $linkColor_hover; background: $linkColor_hover; color: $White; }
  }
}
