
.checkbox { display: flex;
  &__check { position: relative; width: 16px; height: 16px; border: 1px solid $Beige; border-radius: 2px; margin: .0625rem .5rem 0 0; display: flex; cursor: pointer; }
  &__group { display: flex; cursor: pointer; }
  &__title { font-size: 14px; line-height: 1.3; }
  &__icon { display: flex;
    svg { width: 9px; height: 5px; margin: .5rem 0 0 .5rem; stroke: $DarkGreen; flex: none; transition: transform .4s ease-out; transform: rotate(-90deg); }
  }

  &.checked {
    .checkbox {
      &__check { border-color: $DarkGrey;
        &::before { @include pseudo; left: 2px; top: 3.5px; width: 12px; height: 9px; background: transparent url('/image/icon/check.svg') center no-repeat; }
      }
    }
  }
  &.open { font-weight: 600;
    & + .select {
      &-options {
        &__inner { display: block; }
      }
    }

    .checkbox {
      &__icon svg { transform: rotate(0deg); }
    }
  }
}
