
#menu { position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100vh; background: $DarkGrey; overflow: auto; display: none; @include z-index('menu');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  &.open { display: block; }

  .container { height: 100%; padding: 1.3125rem 1rem 1.875rem; overflow-x: hidden;
    .menu {
      &__link {position: absolute; top: 20px; right: 23.5px; @include z-index('close');
        a { display: flex;
          &:active svg, &:focus svg { stroke: $linkColor_hover; }

          svg { width: 20px; height: 20px; stroke: $White; stroke-width: 1.5; flex: none; }
        }
      }

      &-logo { margin-bottom: 1.875rem; display: flex;
        img { width: 105px; height: 18px; margin-top: .0625rem; flex: none; }
      }
      &-menu { margin-bottom: 1.875rem;
        ul { display: flex; flex-direction: column;
          li { display: flex;
            &:not(:first-child) { margin-top: .625rem; }

            a { color: $White; font-weight: 500; line-height: 1.3; text-transform: uppercase;
              &:active, &:focus { color: $linkColor_hover; }
            }
          }
        }
      }
      &-contacts {
        &__link { display: flex;
          &:not(:first-child) { margin-top: .625rem; }

          a { color: $White; font-weight: 500; line-height: 1.3; text-transform: uppercase;
            &:active, &:focus { color: $linkColor_hover; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 1.875rem 2.5rem; }
  }

  @media screen and (min-width: $laptopWidth) {
    &.open { display: none; }
  }
}
