
.order-info {
  &__group { border-radius: 10px; padding: 1.875rem; background: $accentColor; display: flex; flex-direction: column; }
  &__title { margin-bottom: 1.25rem; }

  &-list {
    &__item { font-weight: 500; line-height: 1.3; display: flex; justify-content: space-between;
      &:last-child { margin-top: 1.25rem; font-weight: 600; font-size: 20px; }
      &:not(:last-child) { margin-top: .625rem; }
    }
    &__title { width: 110px; }
    &__value { margin-left: 1.25rem; text-align: right; }
  }

  &__button { margin-top: 1.25rem; }
  &__text { margin-top: 1.875rem;
    p { color: $LightGreen; font-size: 14px; text-align: center; }
  }

  @media screen and (min-width: $tabletWidth) {
    &__button .button a { width: calc((100% - .625rem) / 2); }
    &__text p { text-align: left; }
  }
  @media screen and (min-width: $laptopWidth) { width: 300px; border-radius: 10px; padding: 1.875rem; background: $accentColor; align-self: flex-start;
    &__group { border-radius: 0; padding: 0; background: transparent; }
    &__button { margin-top: 1.875rem;
      .button a { width: 100%; }
    }
  }
  @media screen and (min-width: $desktopWidth) { width: 420px; }
}
