
@import 'popup/age-verify';
@import 'popup/user-block';
@import 'popup/notify';
@import 'popup/thanks';


.popup { position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100vh; overflow: auto; display: none; @include z-index('popup');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  &__overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: $overlayBackground; overflow-x: hidden; }
  &__module { position: absolute; left: 16px; top: 40px; width: calc(100% - 32px); border-radius: 10px; padding: 1.875rem; background: $LightGrey; overflow: auto; display: none; flex-direction: column; display: none; @include z-index('popup-module');
    &--center { top: 50%; overflow: hidden; transform: translate(0, -50%);

      /* Добавляет сглаживание */
      // -webkit-image-rendering: pixelated; -moz-image-rendering: pixelated; image-rendering: pixelated;
    }

    &.open { display: flex; }
  }
  &__link {position: absolute; top: 30px; right: 30px; @include z-index('close');
    a { display: flex;
      svg { width: 24px; height: 24px; stroke-width: 1.5; flex: none; }
    }
  }

  &.open { display: block; }

  @media screen and (min-width: $tabletWidth) {
    &__module { left: 50%; top: 40px; width: 700px; padding: 2.5rem;
      &--center { top: 50%; transform: translate(-50%, -50%); }
    }
    &__link { top: 40px; right: 40px; }
  }
}
