
.product-card { width: calc((100% - .875rem) / 2);
  &:nth-child(even) { margin-left: .875rem; }
  &:nth-child(n + 3) { margin-top: 1.25rem; }

  &__image { margin-bottom: 1.1875rem;
    a { border-radius: 10px; overflow: hidden; display: flex;
      img { width: 100%; background: $accentColor; flex: none; }
    }
  }
  &__category { margin-bottom: .4375rem;
    a { color: $LightGreen; font-size: 10px; line-height: 1.3; display: inline-flex;
      &:active, &:focus { color: $DarkGreen; }
    }
  }
  &__title a { color: $mainColor; display: inline-flex;
    &:active, &:focus { color: $linkColor_hover; }
  }
  &__price { margin-top: .25rem; font-weight: 600; font-size: 14px; line-height: 1.3; white-space: nowrap; }

  @media screen and (min-width: $tabletWidth) {
    &:nth-child(n + 3) { margin-top: 2.5rem; }
  }
  @media screen and (min-width: $laptopWidth) { width: calc((100% - 2.5rem) / 3);
    &:nth-child(even) { margin-left: 0; }
    &:nth-child(n + 3) { margin-top: 0; }
    &:not(:nth-child(3n + 1)) { margin-left: 1.25rem; }
    &:nth-child(n + 4) { margin-top: 2.5rem; }

    &__image { margin-bottom: 1.25rem; }
    &__category { margin-bottom: .5rem;
      a:hover { color: $DarkGreen; }
    }
    &__group { display: flex; justify-content: space-between; }
    &__title a:hover { color: $linkColor_hover; }
    &__price { margin: 0 0 0 1.25rem; }
  }
  @media screen and (min-width: $desktopWidth) { width: calc((100% - 3.75rem) / 4);
    &:not(:nth-child(3n + 1)) { margin-left: 0; }
    &:nth-child(n + 4) { margin-top: 0; }
    &:not(:nth-child(4n + 1)) { margin-left: 1.25rem; }
    &:nth-child(n + 5) { margin-top: 2.5rem; }

    &__category a { font-size: 14px; }
    &__price { font-size: 20px; }
  }
}
