
.radio { height: 100%; border: 1px solid $accentColor; border-radius: 10px; padding: 1.25rem 1.25rem 1.25rem 3rem; background: $accentColor; display: flex; flex-direction: column; cursor: pointer;
  &:active, &:focus { border-color: $LightGreen; }

  &__input { display: none; }
  &__title { position: relative; margin-bottom: .625rem; color: $LightGreen; font-weight: 500; font-size: 14px; line-height: 1.3;
    &::before { @include pseudo; left: -28px; top: 1px; width: 18px; height: 18px; border: 1px solid $LightGreen; border-radius: 50%; }
  }
  &__text { flex-grow: 1;
    p { color: $LightGreen; font-size: 12px; }
  }
  &__price { margin: .875rem 0; font-weight: 500; font-size: 14px; line-height: 1.3; color: $LightGreen; }
  &__desc { color: $LightGreen; font-size: 12px; line-height: 1.3; display: flex; flex-direction: column; }

  &.checked { border-color: $mainColor;
    .radio {
      &__title { color: $mainColor;
        &::before { border-color: $mainColor; }
        &::after { @include pseudo; left: -24px; top: 5px; width: 10px; height: 10px; border-radius: 50%; background: $mainColor; }
      }
      &__price,
      &__desc span { color: $mainColor; }
    }
  }

  @media screen and (min-width: $laptopWidth) {
    &:hover { border-color: $LightGreen; }

    &.checked:hover { border-color: $mainColor; }
  }
}
