
.select { position: relative;
  &-block a { height: 50px; display: flex; align-items: center;
    span { font-weight: 500; font-size: 14px; line-height: 1.3; white-space: nowrap; }
    svg { width: 10px; height: 6px; margin: .0625rem 0 0 .5rem; stroke: $DarkGreen; flex: none; }
  }
  &-options { position: absolute; left: -16px; top: 60px; width: calc(100% + 32px); border: 1px solid $Beige; border-radius: 10px; padding: 1.5rem; background: $accentColor; display: none; flex-direction: column; @include z-index('select-options');
    &--right { left: auto; right: -16px; }

    &__item { font-size: 14px; line-height: 1.3; display: flex; flex-direction: column;
      &:not(:first-child) { margin-top: 1rem; }

      &.current a { font-weight: 600;
        &:active, &:focus { color: $DarkGreen; }
      }
    }
    &__inner { margin: 1rem 0 0 1rem; display: none; }
  }

  &.open {
    .select {
      &-options { display: flex; }
    }
  }

  @media screen and (min-width: $laptopWidth) {
    &-options { left: -30px; width: 300px;
      &--right { left: auto; right: -30px; }

      &__item {
        &.current a:hover { color: $DarkGreen; }
      }
      &__inner { margin: 1rem 0 0 1.875rem; }
    }
  }
  @media screen and (min-width: $desktopWidth) {
    &-block a { height: 70px;
      span { font-size: 16px; }
    }
    &-options { top: 80px; }
  }
}
