
.age-verify {
  &__title { margin-bottom: 1.25rem; }
  &__text p { color: $LightGreen; font-size: 14px; }
  &__buttons { margin-top: 1.25rem; display: flex; flex-direction: column;
    .button:not(:first-child) { margin-top: .625rem; }
  }

  @media screen and (min-width: $tabletWidth) {
    &__text { width: 420px; }
    &__buttons { margin-top: 1.875rem; flex-direction: row;
      .button { width: calc((100% - .625rem) / 2);
        &:not(:first-child) { margin: 0 0 0 .625rem; }

        a { width: 100%; }
      }
    }
  }
  @media screen and (min-width: $desktopWidth) {
    &__text p { font-size: 16px; }
  }
}
