
.notify {
  &__title { margin-bottom: 1.25rem; }
  &__text p { color: $LightGreen; font-size: 14px; }

  &-form { margin-top: 1.25rem; }

  @media screen and (min-width: $tabletWidth) {
    &-form { margin-top: 1.875rem;
      .form {
        &__line { width: 100%; }
        &__button { margin-top: 1.25rem;
          .button a { width: 100%; }
        }
      }
    }
  }
  @media screen and (min-width: $desktopWidth) {
    &__text p { font-size: 16px; }
  }
}
