
.user-block { position: relative;
  &__image { margin: -1.875rem; display: flex;
    img { width: 100%; display: flex; }
  }
  &__main { position: absolute; left: 30px; top: 30px; width: calc(100% - 60px); height: calc(100% - 60px); display: flex; justify-content: center; align-items: center; }
  &__title h3 { color: $White; text-align: center; }

  @media screen and (min-width: $tabletWidth) {
    &__image { margin: -2.5rem; }
  }
}
