-
  let menu = [
    { url: '/catalog.html', title: 'Каталог' },
    { url: '/info.html', title: 'Доставка и оплата' },
    { url: '/faq.html', title: 'FAQ' },
    //- { url: '/contacts.html', title: 'Контакты' }
  ],
  terms = [
    { url: '/terms.html', title: 'Соглашение на&nbsp;обработку&nbsp;данных' },
    { url: '/terms.html', title: 'Публичная оферта' },
    { url: '/certificates.html', title: 'Сертификаты' }
  ]

footer
  .container
    .footer.content
      .footer__main
        .footer-logo
          img(src='/image/logo.svg' alt='Наедине')
        .footer-copyright
          p &copy; Наедине, 2023
      .footer__navigation
        nav.footer-menu
          ul
            each link in menu
              li
                a(href=link.url title=link.title) #{ link.title }
        nav.footer-terms-menu
          ul
            each link in terms
              li
                a(href=link.url title!=link.title)!=link.title
      .footer__info
        .footer-contacts
          .footer-contacts__link
            a(href='tel:+79009009090' title='Позвонить') +7 900 900 90 90
          .footer-contacts__link
            a(href='mailto:naedine.uz@gmail.com' title='Написать') naedine.uz@gmail.com
        .footer__link
          | Дизайн сайта: 
          a(href='//etakanikul.ru' target='_blank' title='etakanikul') etakanikul
