-
  let menu = [
    { url: '/catalog.html', title: 'Каталог' },
    { url: '/info.html', title: 'Доставка и оплата' },
    { url: '/faq.html', title: 'FAQ' },
    //- { url: '/contacts.html', title: 'Контакты' }
  ]

header
  .container
    .header.content
      .header__group
        .header-logo
          a(href='/' title='Наедине')
            img(src='/image/logo.svg' alt='Наедине')
        nav.header-menu
          ul
            each link in menu
              li
                a(href=link.url title=link.title) #{ link.title }
      .header__group
        .header-cart
          a(href='/cart.html' title='Корзина')
            svg
              use(href='/image/icon/cart.svg#cart')
            span 0
        //- .header-search
          a(href='/catalog.html' title='Поиск')
            svg
              use(href='/image/icon/search.svg#search')
        .header-menu-bar
          a(href='#' data-action='open-menu' title='Открыть меню')
            svg
              use(href='/image/icon/menu.svg#menu')
