-
  let menu = [
    { url: '/catalog.html', title: 'Каталог' },
    { url: '/info.html', title: 'Доставка и оплата' },
    { url: '/faq.html', title: 'FAQ' },
    //- { url: '/contacts.html', title: 'Контакты' }
  ]

// Menu
#menu
  .container
    .menu.content
      .menu__link
        a(href='#' data-action='close-menu' title='Закрыть меню')
          svg
            use(href='/image/icon/close.svg#close')
      .menu-logo
        img(src='/image/logo.svg' alt='Наедине')
      nav.menu-menu
        ul
          each link in menu
            li
              a(href=link.url title=link.title) #{ link.title }
      .menu-contacts
        .menu-contacts__link
          a(href='tel:+79009009090' title='Позвонить') +7 900 900 90 90
        .menu-contacts__link
          a(href='mailto:naedine.uz@gmail.com' title='Написать') naedine.uz@gmail.com
// Menu end
