// Popup
#popup.popup
  .popup__overlay(data-action='close-popup')
  // Проверка пользователя на возраст
  .age-verify.popup__module.popup__module--center
    .popup__link
      a(href='#' data-action='close-popup' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
    .age-verify__main
      .age-verify__title
        h3 Вам есть 18 лет?
      .age-verify__text
        p На сайте может содержаться информация, не&nbsp;предназначенная для&nbsp;лиц, не достигших 18 лет.
      .age-verify__buttons
        .button.button--accent
          a(href='#' data-action='yes' title='Да, мне есть 18') Да
        .button.button--light
          a(href='#' data-action='no' title='Нет, мне нет 18') Нет
  // Блокировка пользователя
  .user-block.popup__module.popup__module--center
    .user-block__image
      picture
        source(srcset='/image/illustration/popup-user-block.jpg, /image/illustration/popup-user-block@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
        img(src='/image/illustration/popup-user-block.m.jpg' srcset='/image/illustration/popup-user-block.m@2x.jpg 2x' loading='lazy' alt='illustration')
    .user-block__main
      .user-block__title
        h3 Извините, контент на данном сайте предназначен&nbsp;для&nbsp;лиц, старше 18 лет
  // Уведомление о поступлении товара
  .notify.popup__module.popup__module--center
    .popup__link
      a(href='#' data-action='close-popup' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
    .notify__main
      .notify__title
        h3 Уведомление о&nbsp;поступлении товара
      .notify__text
        p Оставьте заявку и мы сообщим вам, когда товар появится в наличии.
      form.form.notify-form(name='notify' autocomplete='off')
        input(type='hidden' name='product-id' value='2')
        fieldset.form__line
          input.form__input(type='email' name='email' required placeholder='Email*' value='' title='Ваш email')
        .form__button
          .button.button--accent
            a(href='#' data-action='send-form' title='Оставить заявку') Оставить заявку
  // Спасибо
  .thanks.popup__module.popup__module--center
    .popup__link
      a(href='#' data-action='close-popup' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
    .thanks__main
      .thanks__title
        h3 Спасибо, ваша заявка&nbsp;отправлена
      .thanks__text
        p Мы сообщим вам, когда товар появится&nbsp;в&nbsp;наличии.
      .thanks__button
        .button.button--accent
          a(href='#' data-action='close-popup' title='Продолжить покупки') Продолжить покупки
// Popup end
