
/* Cart page */
#cart {
  .container {
    .cart {
      &__title { margin-bottom: 1.875rem; font: 500 28px/1.1 $mainFontFamily; text-transform: uppercase; display: flex;
        span { margin: 0 .25rem; }
        a { color: $Beige;
          &:active, &:focus { color: $mainColor; }
        }
      }
      &__main,
      &__group { display: flex; flex-direction: column; }
      &__text p { color: $LightGreen; }
      &__button { margin-top: 1.875rem; }

      &-list {
        &__item { border-top: 1px solid $Beige; padding-top: 1.25rem; display: flex;
          &:not(:first-child) { margin-top: 1.25rem; }
        }
        &__image { margin-right: 1rem;
          a { border-radius: 10px; background: $accentColor; overflow: hidden; display: flex;
            img { width: 70px; height: 70px; flex: none; }
          }
        }
        &__main { display: flex; flex-direction: column; flex-grow: 1; }
        &__group { display: flex; flex-direction: column; }
        &__title { margin-bottom: .25rem; display: flex;
          a { display: inline-flex;
            h4 { font-size: 16px; }
          }
        }
        &__category { display: flex;
          a { color: $LightGreen; font-size: 10px; line-height: 1.3;
            &:active, &:focus { color: $DarkGreen; }
          }
        }
        &__price { margin-top: .625rem; font-weight: 600; font-size: 14px; line-height: 1.3; }

        &-counter { height: 30px; border-radius: 10px; margin-top: 1rem; background: $accentColor; display: flex; align-items: center; align-self: flex-start;
          a { height: 100%; border-radius: 10px; padding: 0 .75rem; display: flex; align-items: center;
            &:active, &:focus { background: $linkColor_hover; color: $White; }

            svg { width: 9px; height: 9px; flex: none; }
          }
          span { width: 48px; height: 100%; padding: 0 .75rem; font-weight: 600; font-size: 12px; line-height: 1.3; text-align: center; display: flex; justify-content: center; align-items: center; }
        }

        &__link { margin-left: 1.25rem;
          a { display: flex;
            svg { width: 14px; height: 14px; stroke-width: 1.5; flex: none; }
          }
        }
      }

      &__subtitle { margin: 2.5rem 0 1.875rem; }

      &-none-list {
        &__item { position: relative; border-top: 1px solid $Beige; padding: 1.25rem 0 4.375rem; display: flex;
          &:not(:first-child) { margin-top: 1.25rem; }
        }
        &__image { margin-right: 1rem;
          a { border-radius: 10px; background: $accentColor; overflow: hidden; display: flex;
            img { width: 70px; height: 70px; flex: none; }
          }
        }
        &__main { display: flex; flex-direction: column; flex-grow: 1; }
        &__group { display: flex; flex-direction: column; }
        &__title { margin-bottom: .25rem; display: flex;
          a { display: inline-flex;
            h4 { font-size: 16px; }
          }
        }
        &__category { display: flex;
          a { color: $LightGreen; font-size: 10px; line-height: 1.3;
            &:active, &:focus { color: $DarkGreen; }
          }
        }
        &__button { position: absolute; left: 0; bottom: 0; width: 100%; }
        &__link { margin-left: 1.25rem;
          a { display: flex;
            svg { width: 14px; height: 14px; stroke-width: 1.5; flex: none; }
          }
        }
      }

      .order-info { margin-top: 2.5rem; }
    }

    @media screen and (min-width: $tabletWidth) {
      .cart {
        &__button .button a { width: calc((100% - .625rem) / 2); }

        &-none-list {
          &__button { left: 86px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .cart {
        &__title { margin-bottom: 2.5rem; font-size: 32px;
          span { margin: 0 .5rem; }
          a:hover { color: $DarkGreen; }
        }
        &__main { flex-direction: row; justify-content: space-between; }
        &__group { width: calc(100% - 340px); }
        &__button .button a { width: 460px; }

        &-list {
          &__category a:hover { color: $DarkGreen; }

          &-counter a:hover { background: $linkColor_hover; color: $White; }
        }

        &__subtitle { margin: 3.125rem 0 2.5rem; }

        &-none-list {
          &__category a:hover { color: $DarkGreen; }
        }

        .order-info { margin: 0 0 0 2.5rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .cart {
        &__title { font-size: 40px;
          span { margin: 0 .75rem; }
        }
        &__group { width: calc(100% - 460px); }

        &-list {
          &__image { margin-right: 1.25rem;
            a img { width: 160px; height: 160px; }
          }
          &__main { flex-direction: row; }
          &__group { width: 40%; order: 1; }
          &__title { margin-bottom: .625rem;
            a h4 { font-size: 20px; }
          }
          &__category a { font-size: 14px; }
          &__price { width: calc(30% - 1.25rem); margin: 0 0 0 1.25rem; font-size: 20px; align-self: flex-start; order: 3; }

          &-counter { width: calc(30% - 1.25rem); height: 26px; border-radius: 0; margin: 0 0 0 1.25rem; background: transparent; order: 2;
            a {
              &:active, &:focus, &:hover { background: transparent; color: $linkColor_hover; }

              svg { width: 14px; height: 14px; }
            }
            span { width: 48px; font-size: 16px; }
          }

          &__link { margin: .375rem 0 0 1.25rem; }
        }
        &-none-list {
          &__item { padding-bottom: 0; }
          &__image { margin-right: 1.25rem;
            a img { width: 160px; height: 160px; }
          }
          &__main { flex-direction: row; }
          &__group { width: 55%; }
          &__title { margin-bottom: .625rem;
            a h4 { font-size: 20px; }
          }
          &__category a { font-size: 14px; }
          &__button { position: static; left: auto; bottom: auto; width: calc(45% - 1.25rem); margin-left: 1.25rem; }
          &__link { margin: .375rem 0 0 1.25rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .cart {
        &-none-list {
          &__group { width: 70%; }
          &__button { width: calc(30% - 1.25rem); }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_lg) {
      .cart {
        &__title { font-size: 60px; }
      }
    }
  }
}
