
/* Catalog page */
#catalog {
  .container {
    .catalog {
      &__title { margin-bottom: 1.875rem; }

      &-filter { width: 100%; border-radius: 10px; padding: 0 1rem; background: $accentColor; display: flex; justify-content: space-between; align-items: center;
        &-menu-bar { display: flex;
          a { display: flex; flex: none;
            &:active svg, &:focus svg { stroke: $linkColor_hover; }

            svg { width: 25px; height: 25px; stroke: $DarkGreen; stroke-width: 1.5; }
          }
        }
        &-menu { display: none; }
        // &-sort {
        //   &__select {}
        // }
      }
      &-search-form { margin-top: .625rem; }
      &-list { margin-top: 1.875rem; display: flex; flex-wrap: wrap;
        // &__item {}
      }

      &__button { margin-top: 2.5rem; }
    }

    @media screen and (min-width: $tabletWidth) {
      .catalog {
        &__button { display: flex; justify-content: center; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .catalog {
        &__title { margin-bottom: 2.5rem; }

        &-filter { padding: 0 1.875rem;
          &-menu-bar { display: none; }
          &-menu { display: flex; align-items: center;
            &__item:not(:first-child) { margin-left: 1.25rem; }
            // &__select {}
            &__link a { font-weight: 500; font-size: 14px; line-height: 1.3; color: $Beige; }
          }
        }

        &__button { margin-top: 4.375rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .catalog {
        &-filter {
          &-menu {
            &__item:not(:first-child) { margin-left: 1.875rem; }
            &__link a { font-size: 16px; }
          }
        }
      }
    }
  }
}
