
/* Certificates page */
#certificates {
  .container {
    .certificates {
      &__title { margin-bottom: 1.875rem; }

      &-list { display: flex; flex-direction: column;
        &__item:not(:first-child) { margin-top: 2.5rem; }
        &__image { position: relative; border-radius: 10px; overflow: hidden; display: flex;
          img { width: 100%; min-height: 445px; background: $accentColor; color: $LightGreen; font-size: 0; flex: none;
            &::before { content: attr(alt); position: absolute; left: 0; top: 0; width: 100%; height: 100%; font-size: 14px; text-align: center; display: flex; justify-content: center; align-items: center; }
          }
        }
        &__title { margin-top: 1.25rem;
          h4 { font-size: 16px; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .certificates {
        &-list { flex-direction: row; flex-wrap: wrap;
          &__item { width: calc((100% - .875rem) / 2);
            &:not(:first-child) { margin-top: 0; }
            &:nth-child(even) { margin-left: .875rem; }
            &:nth-child(n + 3) { margin-top: 1.25rem; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .certificates {
        &__title { margin-bottom: 2.5rem; }

        &-list {
          &__item { width: calc((100% - 2.5rem) / 3);
            &:nth-child(even) { margin-left: 0; }
            &:nth-child(n + 3) { margin-top: 0; }
            &:not(:nth-child(3n + 1)) { margin-left: 1.25rem; }
            &:nth-child(n + 4) { margin-top: 2.5rem; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .certificates {
        &-list {
          &__item { width: calc((100% - 3.75rem) / 4);
            &:not(:nth-child(3n + 1)) { margin-left: 0; }
            &:nth-child(n + 4) { margin-top: 0; }
            &:not(:nth-child(4n + 1)) { margin-left: 1.25rem; }
            &:nth-child(n + 5) { margin-top: 2.5rem; }
          }
          &__title h4 { font-size: 20px; }
        }
      }
    }
  }
}
