
/* FAQ page */
#faq {
  .container {
    .faq {
      &__title { margin-bottom: 1.875rem; }
      &__main { display: flex; flex-direction: column; }
      &__block:not(:last-child) { margin-bottom: 2.5rem; }
      &__subtitle { margin-bottom: 1.875rem; }

      &-list {
        &__item { border-radius: 10px; background: $accentColor;
          &:not(:last-child) { margin-bottom: .625rem; }
        }
        &__question { padding: 1.25rem; display: flex; justify-content: space-between; align-items: center; cursor: pointer;
          &[area-expanded=true] + .faq-list__answer { display: block; }
        }
        &__icon { margin-left: 1.25rem; display: flex;
          svg { width: 20px; height: 20px; stroke: $mainColor; flex: none; }
        }
        &__answer { padding: 0 1.25rem 1.25rem; display: none; }
        &__text p { color: $LightGreen; font-size: 12px;
          &:not(:last-child) { margin-bottom: 1.25rem; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .faq {}
    }
    @media screen and (min-width: $laptopWidth) {
      .faq {
        &__title { margin-bottom: 2.5rem; }
        &__main { flex-direction: row; flex-wrap: wrap; }
        &__block { width: calc((100% - 1.25rem) / 2);
          &:not(:last-child) { margin-bottom: 0; }
          &:nth-child(even) { margin-left: 1.25rem; }
          &:nth-last-child(n + 3) { margin-bottom: 2.5rem; }
        }

        &-list {
          &__question { padding: 1.875rem; }
          &__icon { margin-left: 2.5rem; }
          &__answer { margin-top: -.625rem; padding: 0 1.875rem 1.875rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .faq {
        &__block:nth-last-child(n + 3) { margin-bottom: 3.125rem; }

        &-list {
          &__icon svg { width: 24px; height: 24px; }
          &__text p { font-size: 14px; }
        }
      }
    }
  }
}
