
/* Index page */
#index {
  .container { padding: 1.25rem 1rem;
    .index { position: relative;
      &__image { border-radius: 10px; overflow: hidden;
        img { width: 100%; display: flex; }
      }
      &__main { position: absolute; left: 16px; bottom: 16px; width: calc((100% - 32px)); }
      &__title h1 { color: $White; font-weight: normal; text-align: center; }
      &__button { margin-top: 1.5rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2.5rem 2.5rem 1.25rem;
      .index {
        &__main { left: 40px; bottom: 32px; width: calc((100% - 80px)); }
        &__title { width: 480px; margin: 0 auto;
          h1 { font-size: 32px; }
        }
        &__button { display: flex; justify-content: center; }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 2.5rem;
      .index {
        &__image { border-radius: 20px; }
        &__main { bottom: 60px; }
        &__title { width: 640px;
          h1 { font-size: 40px; }
        }
        &__button { margin-top: 2.5rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .index {
        &__main { bottom: 80px; }
        &__title { width: 960px;
          h1 { font-size: 60px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_lg) {
      .index {
        &__main { bottom: 130px; }
        &__title h1 { font-size: 100px; }
        &__button { margin-top: 4.5rem; }
      }
    }
  }
}

#about {
  .container { padding: 3.125rem 1rem 1.25rem;
    .about {
      &__title { margin-bottom: 1.875rem;
        h2 { text-align: center; }
      }
      &__text p { font-weight: 600; text-align: center; text-transform: uppercase; }

      &-list { margin: 2.5rem -4rem 0; display: flex;
        &__image { width: calc((100% - 1.25rem) / 3); border-radius: 10px; overflow: hidden; display: flex;
          &:nth-child(n + 4) { display: none; }
          &:not(:first-child) { margin-left: .625rem; }

          img { width: 100%; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.125rem 2.5rem 1.25rem;
      .about {
        &__title { width: 688px; margin: 0 auto 1.875rem; }
        &__text { width: 688px; margin: 0 auto; }

        &-list {
          &__image { width: calc((100% - 2.625rem) / 4);
            &:not(:first-child) { margin-left: .875rem; }
            &:nth-child(n + 4) { display: flex; }
            &:nth-child(n + 5) { display: none; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 6.875rem 2.5rem 2.5rem;
      .about {
        &__title { width: 864px; margin-bottom: 3.75rem; }

        &-list { margin: 4.5rem 0 0;
          &__image { width: calc((100% - 3.75rem) / 4);
            &:not(:first-child) { margin-left: 1.25rem; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .about {
        &__title { width: 944px; }
        &__text { width: 600px;
          p { font-size: 22px; }
        }

        &-list {
          &__image { width: calc((100% - 6.25rem) / 6);
            &:nth-child(n + 5) { display: flex; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_lg) {
      .about {
        &__title { width: 1456px; }
      }
    }
  }
}

#new {
  .container { padding: 3.125rem 1rem 1.25rem;
    .new {
      &__title h2 { text-align: center; }

      &-list { margin-top: 2.5rem; display: flex; flex-wrap: wrap;
        // &__item {}
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.125rem 2.5rem 1.25rem;
      // .new {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 6.875rem 2.5rem 2.5rem;
      // .new {}
    }
    @media screen and (min-width: $desktopWidth) {
      // .new {}
    }
  }
}

#discount {
  .container { padding: 3.125rem 1rem 1.25rem;
    .discount {
      &__image { border-radius: 10px; overflow: hidden; display: flex;
        &--left { display: none; }

        img { width: 100%; flex: none; }
      }
      &__main { position: relative; }
      &__title { position: absolute; left: 16px; top: 16px; width: calc(100% - 32px); height: calc(100% - 32px); color: $White; font-weight: 500; font-size: 28px; line-height: 1.3; text-transform: uppercase; display: flex; flex-direction: column; justify-content: center; align-items: center;
        span { font-weight: normal; font-family: $accentFontFamily; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.125rem 2.5rem 1.25rem;
      .discount { display: flex; justify-content: space-between;
        &__image {
          &--left { width: calc((100% - .875rem) / 2); display: flex; }
        }
        &__main { width: calc((100% - .875rem) / 2); margin-left: .875rem; }
        &__title { left: 40px; top: 40px; width: calc(100% - 80px); height: calc(100% - 80px); }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 6.875rem 2.5rem 2.5rem;
      .discount {
        &__image {
          &--left { width: calc((100% - 1.25rem) / 2); }
        }
        &__main { width: calc((100% - 1.25rem) / 2); margin-left: 1.25rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .discount {
        &__title { font-size: 40px; }
      }
    }
    @media screen and (min-width: $desktopWidth_lg) {
      .discount {
        &__title { font-size: 60px; }
      }
    }
  }
}

#top {
  .container { padding: 3.125rem 1rem 1.25rem;
    .top {
      &__title h2 { text-align: center; }

      &-list { margin-top: 2.5rem; display: flex; flex-wrap: wrap;
        // &__item {}
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.125rem 2.5rem 1.25rem;
      // .top {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 6.875rem 2.5rem 2.5rem;
      // .top {}
    }
    @media screen and (min-width: $desktopWidth) {
      // .top {}
    }
  }
}

#accent {
  .container { padding: 3.125rem 1rem 1.25rem;
    .accent { position: relative; display: flex; flex-direction: column;
      &-info { position: relative;
        &__image { border-radius: 10px; overflow: hidden; display: flex;
          img { width: 100%; flex: none; }
        }
        &__title,
        &__price { position: absolute; left: 16px; top: 16px; width: calc(100% - 32px); color: $White; text-align: center; text-transform: uppercase; display: flex; flex-direction: column; }
        &__title { height: calc(100% - 32px); font-weight: 500; font-size: 28px; line-height: 1.2; justify-content: center;
          span { font-weight: normal; font-family: $accentFontFamily; }
        }
        &__price { font-weight: 600; }
      }
      &-tags { margin-top: .625rem; display: flex; flex-direction: column;
        &__item { display: flex;
          &:not(:first-child) { margin-top: .625rem; }

          a { width: 100%; height: 34px; border-radius: 17px; padding: 0 1.5rem; background: $accentColor; font-weight: 500; font-size: 10px; line-height: 1.3; text-align: center; display: flex; justify-content: center; align-items: center;
            &:active, &:focus { background: $linkColor_hover; color: $White; }
          }
        }
      }

      &__product { margin-top: 1.875rem; }
      &__image { border-radius: 10px; overflow: hidden; display: flex;
        img { width: 100%; flex: none; }
      }
      &__button { margin-top: 1.875rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.125rem 2.5rem 1.25rem;
      .accent { flex-direction: row;
        &-info { width: calc((100% - .875rem) / 2);
          &__image { height: 100%;
            img { object-fit: cover; }
          }
          &__price { top: auto; bottom: 16px; width: auto; text-align: left; justify-content: flex-end; }
        }
        &-tags { position: absolute; left: 16px; top: 16px; margin-top: 0;
          &__item a { width: auto; }
        }

        &__product { width: calc((100% - .875rem) / 2); margin: 0 0 0 .875rem; }
        &__image { height: calc(100% - 90px); justify-content: center;
          img { width: auto; height: 100%; }
        }
        &__button { display: flex; justify-content: center; }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 6.875rem 2.5rem 2.5rem;
      .accent {
        &-info { width: calc((100% - 1.25rem) / 2);
          &__image { border-radius: 30px; }
          &__title { left: 30px; top: 30px; width: calc(100% - 60px); }
          &__price { left: 30px; bottom: 30px; }
        }
        &-tags { left: 30px; top: 30px;
          &__item a:hover { background: $linkColor_hover; color: $White; }
        }

        &__product { width: calc((100% - 1.25rem) / 2); margin: 0 0 0 1.25rem; }
        &__image { height: calc(100% - 100px); }
        &__button { margin-top: 2.5rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .accent {
        &-info {
          &__title { font-size: 60px; }
          &__price { font-size: 25px; }
        }
        &-tags {
          &__item a { height: 50px; border-radius: 25px; font-size: 14px; }
        }
      }
    }
  }
}

#message {
  .container { padding: 3.125rem 1rem 1.25rem;
    .message { position: relative;
      &__image { border-radius: 10px; overflow: hidden;
        img { width: 100%; display: flex; }
      }
      &__main { position: absolute; left: 16px; top: 16px; width: calc(100% - 32px); height: calc(100% - 32px); display: flex; flex-direction: column; justify-content: center; align-items: center; }
      &__title { margin-bottom: 1.25rem; color: $White; font-size: 24px; font-family: $accentFontFamily; line-height: 1.2; text-align: center; text-transform: uppercase; }
      &__text p { color: $White; font-weight: 600; font-size: 14px; text-align: center; text-transform: uppercase; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.125rem 2.5rem 1.25rem;
      .message {
        &__main { left: 40px; top: 40px; width: calc(100% - 80px); height: calc(100% - 80px); }
        &__title { width: 608px; margin: 0 auto 1.25rem; }
        &__text { width: 608px; margin: 0 auto; }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 6.875rem 2.5rem 2.5rem;
      .message {
        &__image { border-radius: 30px; }
        &__title { margin-bottom: 2.25rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .message {
        &__title { width: 1000px; font-size: 40px; }
        &__text { width: 560px;
          p { font-size: 18px; }
        }
      }
    }
  }
}

#articles {
  .container { padding: 3.125rem 1rem 4.375rem;
    .articles {
      &__title { margin-bottom: 1.875rem;
        h2 { text-align: center; }
      }

      &-list { display: flex; flex-wrap: wrap;
        &__item { width: calc((100% - .875rem) / 2);
          &:nth-child(even) { margin-left: .875rem; }
          &:nth-child(n + 3) { margin-top: .875rem; }

          a { position: relative; }
        }
        &__image { border-radius: 10px; overflow: hidden; display: flex;
          img { width: 100%; flex: none; }
        }
        &__title { position: absolute; left: 16px; top: 16px; width: calc(100% - 32px); height: calc(100% - 40px); margin: .25rem 0; color: $White; font-size: 14px; font-family: $accentFontFamily; line-height: 1.1; text-align: center; text-transform: uppercase; display: flex; justify-content: center;
          &--center { align-items: center; }
        }
      }

      &__button { margin-top: 1.875rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.125rem 2.5rem 4.375rem;
      .articles {
        &__title { width: 540px; margin: 0 auto 1.875rem; }

        &-list {
          &__title { left: 40px; top: 40px; width: calc(100% - 80px); height: calc(100% - 88px); font-size: 24px; }
        }

        &__button { display: flex; justify-content: center; }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 6.875rem 2.5rem 9.375rem;
      .articles {
        &__title { margin: 0 auto 6.25rem; }

        &-list { flex-wrap: nowrap;
          &__item { width: calc((100% - 3.75rem) / 4);
            &:nth-child(even) { margin-left: 0; }
            &:nth-child(n + 3) { margin-top: 0; }
            &:not(:first-child) { margin-left: 1.25rem; }
          }
          &__title { left: 16px; top: 16px; width: calc(100% - 32px); height: calc(100% - 40px); font-size: 20px; }
        }

        &__button { margin-top: 2.5rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .articles {
        &__title { width: 780px; }

        &-list {
          &__title { top: 32px; font-size: 32px; height: calc(100% - 72px); }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_lg) {
      .articles {
        &__title { width: 920px; }

        &-list {
          &__title { top: 48px; font-size: 40px; height: calc(100% - 104px); }
        }
      }
    }
  }
}
