
/* Info page */
#info {
  .container {
    .info {
      &__title { margin-bottom: 1.875rem; }

      &-banner { border-radius: 10px; margin-bottom: 1.25rem; padding: 1.875rem; background: $LightGreen; display: flex; flex-direction: column;
        &__title { margin-bottom: .875rem; color: $White; font-weight: 500; font-size: 20px; line-height: 1.3; text-transform: uppercase; }
        &__text p { color: $White; }
      }

      &__main { display: flex; flex-direction: column; }
      &__block { border-radius: 10px; padding: 1.875rem; background: $accentColor;
        &:not(:first-child) { margin-top: 1.25rem; }
      }
      &__subtitle { margin-bottom: 1.25rem; font-weight: 500; font-size: 20px; line-height: 1.3; text-transform: uppercase; }

      &-list {
        &__item { display: flex; flex-direction: column;
          &:not(:first-child) { margin-top: 1.875rem; }
        }
        &__title { margin-bottom: .625rem; font-weight: 500; line-height: 1.3; }
        &__text p { color: $LightGreen; font-size: 14px; }
        &__price { margin-top: .875rem; font-weight: 500; line-height: 1.3; }
      }

      &__text { margin-top: 1.875rem;
        p { color: $LightGreen; font-size: 14px; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .info {
        &-banner {
          &__text { width: 580px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .info {
        &__title { margin-bottom: 2.5rem; }
        &__main { flex-direction: row; }
        &__block { width: calc((100% - 1.25rem) / 2);
          &:not(:first-child) { margin: 0 0 0 1.25rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .info {
        &-banner { flex-direction: row; align-items: center;
          &__title { margin: 0 7rem 0 0; }
          &__text { width: auto;
            p { font-size: 16px; }
          }
        }
        &-list {
          &__item { flex-direction: row; justify-content: space-between;
            &:not(:first-child) { margin-top: 1.25rem; }
          }
          &__group { width: calc(100% - 170px); }
          &__price { width: 150px; margin: 0 0 0 1.25rem; text-align: right; }
        }

        &__text { width: calc(100% - 170px); }
      }
    }
    @media screen and (min-width: $desktopWidth_lg) {
      .info {
        &-banner {
          &__title { margin-right: 10.5rem; }
        }
      }
    }
  }
}
