
/* Order page */
#order {
  .container {
    .order {
      &__title { margin-bottom: 1.875rem; }
      &__main { display: flex; flex-direction: column; }

      &-form {
        .form {
          &__line:not(:first-child) { margin-top: .625rem; }
          &__radio:not(:first-child) { margin-top: 1.25rem; }
        }
      }

      &-info { margin-top: 2.5rem; }
    }

    @media screen and (min-width: $tabletWidth) {
      .order {
        &-form {
          .form {
            &__line,
            &__radio { width: calc((100% - .625rem) / 2);
              &:not(:first-child) { margin-top: 0; }
              &:nth-child(even) { margin-left: .625rem; }
              &:nth-child(n + 3) { margin-top: .625rem; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .order {
        &__title { margin-bottom: 2.5rem; }
        &__main { flex-direction: row; justify-content: space-between; }

        &-form { width: calc(100% - 340px); }
        &-info { margin: 0 0 0 2.5rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .order {
        &-form { width: calc(100% - 460px);
          .form {
            &__line,
            &__radio { width: calc((100% - 1.25rem) / 3);
              &:nth-child(even) { margin-left: 0; }
              &:nth-child(n + 3) { margin-top: 0; }
              &:not(:nth-child(3n + 1)) { margin-left: .625rem; }
              &:nth-child(n + 4) { margin-top: .625rem; }
            }
          }
        }
      }
    }
  }
}
