
/* Product page */
#product {
  .container { padding: 2.5rem 1rem 1.25rem;
    .product { position: relative; display: flex; flex-direction: column;
      &__slider { position: relative; }

      &-gallery {
        &__image { border-radius: 10px; background: $accentColor; overflow: hidden; display: flex;
          img { width: 100%; flex: none; }
        }
      }
      &-thumbs { margin-top: .25rem;
        &__image { border: 1px solid $Beige; border-radius: 10px; background: $accentColor; overflow: hidden; display: flex; cursor: pointer;
          &:active, &:focus { border-color: $LightGreen; }
          &.swiper-slide-thumb-active { border-color: $mainColor; cursor: default; }

          img { width: 100%; flex: none; }
        }
      }

      &__main { margin-top: 2.5rem; display: flex; flex-direction: column; }
      &__group { display: flex; flex-direction: column; }
      &__title { margin-bottom: .875rem;
        h1 { line-height: 1.3; }
      }
      &__category { display: flex;
        a { color: $LightGreen; font-size: 14px; line-height: 1.3;
          &:active, &:focus { color: $DarkGreen; }
        }
      }
      &__price { margin-top: 1.875rem; font-weight: 600; font-size: 26px; line-height: 1.3; }

      &-control { margin-top: 1.875rem; display: flex; flex-direction: column;
        &-counter { width: 100%; height: 60px; border-radius: 10px; background: $accentColor; display: flex; justify-content: space-between; align-items: center;
          a { width: 60px; height: 100%; border-radius: 10px; padding: 0 .75rem; display: flex; justify-content: center; align-items: center;
            &:active, &:focus { background: $linkColor_hover; color: $White; }

            svg { width: 14px; height: 14px; flex: none; }
          }
          span { height: 100%; padding: 0 .75rem; font-weight: 600; line-height: 1.3; text-align: center; display: flex; justify-content: center; align-items: center; }
        }

        &__warning { width: 100%; height: 60px; border-radius: 10px; background: $accentColor; font-weight: 600; font-size: 20px; line-height: 1.3; text-align: center; text-transform: uppercase; display: flex; justify-content: center; align-items: center; }
        &__button { margin-top: .625rem; }
      }

      &__text { margin-top: 2.5rem;
        p { color: $LightGreen; font-size: 14px;
          &:not(:first-child) { margin-top: 1.25rem; }
        }
      }

      &-tags { margin-top: 1.875rem; display: flex; flex-direction: column; @include z-index('tags');
        &__item { display: flex;
          &:not(:first-child) { margin-top: .625rem; }

          a { width: 100%; height: 34px; border-radius: 17px; padding: 0 1.5rem; background: $accentColor; font-weight: 500; font-size: 10px; line-height: 1.3; text-align: center; display: flex; justify-content: center; align-items: center;
            &:active, &:focus { background: $linkColor_hover; color: $White; }
          }
        }
      }
      &-list { border-top: 1px solid $Beige; margin-top: 3.125rem; padding-top: 1.875rem;
        &__item { border-bottom: 1px solid $Beige; padding-bottom: 1.875rem;
          &:not(:last-child) { margin-bottom: 1.875rem; }
        }
        &__parameter { display: flex; justify-content: space-between; align-items: center; cursor: pointer;
          &[area-expanded=true] + .product-list__info { margin-top: 1.5rem; display: block; }
        }
        &__title h5 { font-weight: 600; font-size: 18px; }
        &__icon { margin-left: 1.25rem; display: flex;
          svg { width: 24px; height: 24px; stroke: $mainColor; flex: none; }
        }
        &__info { display: none; }
        &__text p { color: $LightGreen; font-size: 14px;
          &:not(:last-child) { margin-bottom: 1.25rem; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2.5rem 2.5rem 1.25rem;
      .product {
        &-control {
          &__button .button a { width: 100%; }
        }
        &-tags { flex-direction: row; flex-wrap: wrap;
          &__item {
            &:not(:first-child) { margin-top: 0; }
            &:not(:last-child) { margin-right: .625rem; }

            a { width: auto; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 4.375rem 2.5rem 2.5rem;
      .product { flex-direction: row;
        &__slider { width: calc((100% - 1.25rem) / 2); align-self: flex-start; }

        &-gallery {
          &__image { border-radius: 20px; }
        }
        &-thumbs {
          &__image:hover { border-color: $LightGreen;
            &.swiper-slide-thumb-active { border-color: $mainColor; }
          }
        }

        &__main { width: calc((100% - 1.25rem) / 2); margin: 0 0 0 1.25rem; }
        &__title h1 { font-size: 30px; }
        &__category a:hover { color: $DarkGreen; }
        &__price { font-size: 30px; }

        &-control {
          &-counter a:hover { background: $linkColor_hover; color: $White; }

          &__button .button a { width: 100%; }
        }
        &-tags {
          &__item a:hover { background: $linkColor_hover; color: $White; }
        }
        &-list {
          &__icon { margin-left: 2.5rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .product {
        &__slider { width: calc((100% - 2.5rem) / 2); }

        &-thumbs { position: absolute; left: 30px; bottom: 30px; width: calc(100% - 60px); }

        &__main { width: calc((100% - 2.5rem) / 2); margin-left: 2.5rem; }
        &__group { flex-direction: row; flex-wrap: wrap; order: 1; }
        &__title { width: 60%; margin-bottom: 0; order: 2;
          h1 { font-size: 30px; }
        }
        &__category { width: 100%; margin: 1.5rem 0 1rem; order: 1;
          a { font-size: 16px; }
        }
        &__price { width: calc(40% - 1.25rem); margin: 0 0 0 1.25rem; text-align: right; order: 3; }

        &-control { margin-top: 3.125rem; flex-direction: row; justify-content: space-between; order: 3;
          &-counter { width: 200px; }

          &__warning { width: auto; border-radius: 0; background: transparent; font-size: 30px; text-align: left; justify-content: flex-start; }
          &__button { width: calc((100% - 240px) / 2); margin: 0 0 0 1.25rem; }
        }

        &__text { width: 620px; order: 2;
          p { font-size: 16px; }
        }

        &-tags { position: absolute; left: 30px; top: 30px; margin-top: 0; flex-direction: column; flex-wrap: nowrap;
          &__item {
            &:not(:last-child) { margin-right: 0 }
            &:not(:first-child) { margin-top: .625rem; }

            a { height: 50px; border-radius: 25px; background: $LightGreen; color: $White; font-size: 14px;
              &:active, &:focus, &:hover { background: $DarkGreen; }
            }
          }
        }
        &-list { margin-top: 4.375rem; order: 4;
          &__text p { font-size: 16px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_lg) {
      &__title h1 { font-size: 30px; }
    }
  }
}

#other {
  .container { padding: 3.125rem 1rem 4.375rem;
    .other {
      &-list { margin-top: 2.5rem; display: flex; flex-wrap: wrap;
        // &__item {}
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.125rem 2.5rem 4.375rem;
      // .other {}
    }
    @media screen and (min-width: $laptopWidth) { padding: 3.125rem 2.5rem 9.375rem;
      // .other {}
    }
    @media screen and (min-width: $desktopWidth) {
      // .other {}
    }
  }
}
