
/* Success page */
#success {
  .container {
    .success {
      &__title { margin-bottom: 1.875rem; }
      &__text p { color: $LightGreen;
        &:not(:last-child) { margin-bottom: 1.25rem; }
      }
      &__image { margin-top: 2.5rem; border-radius: 10px; overflow: hidden;
        img { width: 100%; display: flex; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .success {}
    }
    @media screen and (min-width: $laptopWidth) {
      .success {
        &__title { margin-bottom: 2.5rem; }
        &__text { width: 380px; }
        &__image { border-radius: 20px; margin-top: 3.125rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .success {
        &__text { width: 440px; }
      }
    }
  }
}
