
/* Terms page */
#terms {
  .container {
    .terms {
      &__title { margin-bottom: 1.875rem; }
      &__text p { color: $LightGreen;
        &:not(:last-child) { margin-bottom: 1.25rem; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .terms {}
    }
    @media screen and (min-width: $laptopWidth) {
      .terms {
        &__title { margin-bottom: 2.5rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      // .terms {}
    }
  }
}
