
/* Wishlist page */
#wishlist {
  .container {
    .wishlist {
      &__title { margin-bottom: 1.875rem; font: 500 28px/1.1 $mainFontFamily; text-transform: uppercase; display: flex;
        span { margin: 0 .25rem; }
        a { color: $Beige;
          &:active, &:focus { color: $mainColor; }
        }
      }
      &__main,
      &__group { display: flex; flex-direction: column; }
      &__text p { color: $LightGreen; }
      &__button { margin-top: 1.875rem; }

      &-list {
        &__item { position: relative; border-top: 1px solid $Beige; padding: 1.25rem 0 2.75rem; display: flex;
          &:not(:first-child) { margin-top: 1.25rem; }
        }
        &__image { margin-right: 1rem;
          a { border-radius: 10px; background: $accentColor; overflow: hidden; display: flex;
            img { width: 70px; height: 70px; flex: none; }
          }
        }
        &__main { display: flex; flex-direction: column; flex-grow: 1; }
        &__group { display: flex; flex-direction: column; }
        &__title { margin-bottom: .25rem; display: flex;
          a { display: inline-flex;
            h4 { font-size: 16px; }
          }
        }
        &__category { display: flex;
          a { color: $LightGreen; font-size: 10px; line-height: 1.3;
            &:active, &:focus { color: $DarkGreen; }
          }
        }
        &__price { margin-top: .625rem; font-weight: 600; font-size: 14px; line-height: 1.3; }
        &__button { position: absolute; left: 86px; bottom: 0; width: 100%; }
        &__link { margin-left: 1.25rem;
          a { display: flex;
            svg { width: 14px; height: 14px; stroke-width: 1.5; flex: none; }
          }
        }
      }

      &__subtitle { margin: 2.5rem 0 1.875rem; }

      &-none-list {
        &__item { position: relative; border-top: 1px solid $Beige; padding: 1.25rem 0 4.375rem; display: flex;
          &:not(:first-child) { margin-top: 1.25rem; }
        }
        &__image { margin-right: 1rem;
          a { border-radius: 10px; background: $accentColor; overflow: hidden; display: flex;
            img { width: 70px; height: 70px; flex: none; }
          }
        }
        &__main { display: flex; flex-direction: column; flex-grow: 1; }
        &__group { display: flex; flex-direction: column; }
        &__title { margin-bottom: .25rem; display: flex;
          a { display: inline-flex;
            h4 { font-size: 16px; }
          }
        }
        &__category { display: flex;
          a { color: $LightGreen; font-size: 10px; line-height: 1.3;
            &:active, &:focus { color: $DarkGreen; }
          }
        }
        &__button { position: absolute; left: 0; bottom: 0; width: 100%; }
        &__link { margin-left: 1.25rem;
          a { display: flex;
            svg { width: 14px; height: 14px; stroke-width: 1.5; flex: none; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .wishlist {
        &__button .button a { width: calc((100% - .625rem) / 2); }

        &-list {
          &__item { padding: 1.25rem 0 4.375rem; }
        }
        &-none-list {
          &__button { left: 86px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .wishlist {
        &__title { margin-bottom: 2.5rem; font-size: 32px;
          span { margin: 0 .5rem; }
          a:hover { color: $DarkGreen; }
        }
        &__button .button a { width: 460px; }

        &-list {
          &__category a:hover { color: $DarkGreen; }
        }

        &__subtitle { width: calc(100% - 340px); margin: 3.125rem 0 2.5rem; }

        &-none-list {
          &__category a:hover { color: $DarkGreen; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .wishlist {
        &__title { font-size: 40px;
          span { margin: 0 .75rem; }
        }

        &-list {
          &__item { padding-bottom: 0; }
          &__image { margin-right: 1.25rem;
            a img { width: 160px; height: 160px; }
          }
          &__main { flex-direction: row; }
          &__group { width: 40%; }
          &__title { margin-bottom: .625rem;
            a h4 { font-size: 20px; }
          }
          &__category a { font-size: 14px; }
          &__price { width: calc(30% - 1.25rem); margin: 0 0 0 1.25rem; font-size: 20px; align-self: flex-start; }
          &__button { position: static; left: auto; bottom: auto; width: calc(30% - 1.25rem); margin-left: 1.25rem; }
          &__link { margin: .375rem 0 0 1.25rem; }
        }

        &__subtitle { width: calc(100% - 460px); }

        &-none-list {
          &__item { padding-bottom: 0; }
          &__image { margin-right: 1.25rem;
            a img { width: 160px; height: 160px; }
          }
          &__main { flex-direction: row; }
          &__group { width: 70%; }
          &__title { margin-bottom: .625rem;
            a h4 { font-size: 20px; }
          }
          &__category a { font-size: 14px; }
          &__button { position: static; left: auto; bottom: auto; width: calc(30% - 1.25rem); margin-left: 1.25rem; }
          &__link { margin: .375rem 0 0 1.25rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_lg) {
      .wishlist {
        &__title { font-size: 60px; }
      }
    }
  }
}
